<?xml version="1.0" encoding="utf-8"?>
<!-- IIS site config for the built React app (copied into dist/ by Vite). HashRouter needs no URL rewriting. -->
<configuration>
  <system.webServer>
    <defaultDocument>
      <files>
        <clear />
        <add value="index.html" />
      </files>
    </defaultDocument>
    <staticContent>
      <remove fileExtension=".woff2" />
      <mimeMap fileExtension=".woff2" mimeType="font/woff2" />
    </staticContent>
  </system.webServer>
</configuration>
